<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>配置列表页面</title>
    <script src="${ctxPath}/medias/RX.load.js"></script>
    <script type="text/javascript">
        RX.loadCSS({
            template: "platMain"
        });
    </script>
    <style type="text/css">
        html, body {
            height: 100%;
            overflow: hidden;
            background: #fff;
        }
    </style>
</head>
<body>
<div class="base_box">
    <div class="operation_box">
        <ul class="action_button">
            <li><a href="#none" id="add"><i class="iconfont">&#xe62a;</i>新增</a></li>
            <li><a href="#none" id="edit"><i class="iconfont">&#xe605;</i>修改</a></li>
            <li><a href="#none" id="del"><i class="iconfont ">&#xe606;</i>删除</a></li>
        </ul>
    </div>

    <div data-model="SConfig" class="query_box"></div>

    <div class="list_box">
        <div data-model="ModelConfigList" title="配置列表"></div>
    </div>
</div>
<script type="text/javascript">
    RX.load({
        template: "grid",
        module: [
            "/medias/src/plat/conf/config/configList_config.js",
            "/medias/src/plat/code/config/configList.js"]
    });
</script>
</body>
</html>
